<template>
  <section
    class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    <div
      v-for="index in 10"
      :key="`pizza-placeholder-${index}`"
      class="mb-8 space-y-2 animate-pulse"
    >
      <div class="w-full bg-gray-400 rounded aspect-ratio-square"></div>
      <div class="w-1/2 h-6 bg-gray-400 rounded"></div>
      <div class="space-y-2">
        <div class="h-4 bg-gray-400 rounded"></div>
        <div class="w-5/6 h-4 bg-gray-400 rounded"></div>
      </div>
      <div class="flex flex-row space-x-2">
        <div class="w-1/2 h-10 bg-gray-400 rounded"></div>
        <div class="w-1/2 h-10 bg-gray-400 rounded"></div>
      </div>
    </div>
  </section>
</template>
