<template>
  <section
    class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    <pizza-card
      v-for="pizza in pizzas"
      :key="`pizza-${pizza.id}`"
      :pizza="pizza"
      class="mb-8"
    />
  </section>
</template>

<script>
export default {
  props: {
    pizzas: {
      type: Array,
      required: true,
    },
  },
}
</script>
