<template>
  <article class="p-2 my-2">
    <div class="flex flex-row space-x-2">
      <figure v-if="!small" class="flex justify-center flex-shrink-0 w-20 h-20">
        <img :src="item.item.image" />
      </figure>

      <div class="w-full">
        <div class="flex flex-row items-center justify-between my-2">
          <h2 class="font-bold text-md" v-text="item.item.title" />
          <button
            class="p-1 rounded-lg focus:outline-none focus:shadow-outline"
            @click="remove()"
          >
            <x-icon class="w-4 h-4" />
          </button>
        </div>

        <div class="flex flex-row items-center justify-between">
          <div
            class="relative flex flex-row h-8 mt-1 bg-transparent rounded-lg"
          >
            <button
              class="w-8 h-full px-2 bg-white border border-r-0 border-gray-400 cursor-pointer focus:outline-none focus:shadow-outline rounded-l-md"
              @click="decrement()"
            >
              <span class="m-auto text-xl font-thin">−</span>
            </button>
            <input
              v-model="item.qty"
              type="number"
              disabled
              class="flex items-center w-12 text-center bg-white border-t border-b border-gray-400"
              name="custom-input-number"
              min="0"
            />
            <button
              class="w-8 h-full px-2 bg-white border border-l-0 border-gray-400 cursor-pointer focus:outline-none focus:shadow-outline rounded-r-md"
              @click="increment()"
            >
              <span class="m-auto text-xl font-thin">+</span>
            </button>
          </div>

          <div class="font-bold text-right">
            {{ price | money(selectedCurrency) }}
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import { XIcon } from '@vue-hero-icons/solid'
import { mapGetters } from 'vuex'

import cartItem from '~/mixins/cartItem'

export default {
  components: {
    XIcon,
  },

  mixins: [cartItem],

  props: {
    item: {
      type: Object,
      required: true,
    },
    small: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    price() {
      const num =
        this.item.item.prices[this.selectedCurrency].price * this.item.qty

      return Math.round((num + Number.EPSILON) * 100) / 100
    },
    ...mapGetters('currency', ['selectedCurrency']),
  },

  methods: {
    increment(qty = 1) {
      this.$store.dispatch('cart/add', {
        ...this.item,
        qty: 1,
      })
    },

    decrement(qty = 1) {
      this.$store.dispatch('cart/add', {
        ...this.item,
        qty: -1,
      })
    },

    remove() {
      this.$store.dispatch('cart/add', {
        ...this.item,
        qty: -1 * this.item.qty,
      })
    },
  },
}
</script>
