<template>
  <div class="p-4 overflow-hidden bg-white rounded shadow-lg w-84">
    <div v-if="!isEmpty">
      <div class="divide-y divide-gray-200">
        <microcart-item
          v-for="(item, index) in items"
          :key="`cart-item-${index}`"
          :item="item"
        />
        <div class="flex flex-row justify-between p-2 my-2 font-bold">
          <div>Subtotal:</div>
          <div class="text-right">{{ subtotal | money(selectedCurrency) }}</div>
        </div>
      </div>
      <nuxt-link
        :to="{ name: 'cart' }"
        class="block w-full px-3 py-2 text-sm font-bold text-center text-white bg-orange-500 rounded-lg divide-opacity-75 hover:bg-orange-600 focus:outline-none focus:shadow-outline"
        @click.native="$emit('close')"
      >
        Proceed
      </nuxt-link>
    </div>
    <div v-else class="flex flex-col items-center justify-center">
      <span class="p-4 text-6xl text-center">🍕</span>
      <p class="py-2 font-semibold">Chooze your pizza</p>
      <p class="py-2 text-sm">But for now, your cart is empty</p>
    </div>
  </div>
</template>

<script>
import cart from '~/mixins/cart'

export default {
  mixins: [cart],
}
</script>
