<template>
  <button
    class="relative flex flex-row items-center justify-center w-full px-3 py-2 text-sm text-center text-white bg-orange-500 rounded-lg hover:bg-orange-600 focus:outline-none focus:shadow-outline"
  >
    <span class="pr-2 md:hidden">
      <shopping-cart-icon class="w-4 h-4" />
    </span>
    <span class="hidden px-2 md:inline">Cart</span>
    <span
      v-show="!isEmpty"
      class="px-2 border-l border-white border-opacity-50"
      v-text="totalQty"
    />
  </button>
</template>

<script>
import { ShoppingCartIcon } from '@vue-hero-icons/solid'
import { mapGetters } from 'vuex'

export default {
  components: {
    ShoppingCartIcon,
  },
  computed: {
    ...mapGetters('cart', ['totalQty', 'isEmpty']),
  },
}
</script>
