<template>
  <nav class="fixed z-40 w-full bg-white border-b border-gray-300">
    <div class="container flex flex-row items-center justify-between h-16">
      <nuxt-link :to="{ name: 'index' }" class="flex-shrink-0 text-2xl">
        Space Pizza
      </nuxt-link>

      <!-- <ul>
        <li>
          <nuxt-link
            :to="{ name: 'index' }"
            class="px-3 py-2 text-sm font-medium leading-5"
          >
            Pizzas
          </nuxt-link>
        </li>
      </ul> -->

      <div class="flex flex-row justify-center space-x-2">
        <select
          v-model="currentCurrency"
          class="px-3 py-2 text-sm font-bold text-center text-orange-500 bg-white border border-orange-500 rounded-lg hover:text-orange-600 hover:border-orange-600 focus:outline-none focus:shadow-outline"
        >
          <option
            v-for="currency in currencies"
            :key="`currency-${currency}`"
            v-text="currency"
          />
        </select>

        <nuxt-link
          v-show="!$auth.loggedIn"
          :to="{ name: 'auth' }"
          class="px-3 py-2 text-sm font-bold text-center text-orange-500 bg-white border border-orange-500 rounded-lg hover:text-orange-600 hover:border-orange-600 focus:outline-none focus:shadow-outline"
        >
          <login-icon class="w-4 h-4 md:hidden" />
          <span class="hidden md:inline">Login</span>
        </nuxt-link>

        <nuxt-link
          v-show="$auth.loggedIn"
          :to="{ name: 'history' }"
          class="px-3 py-2 text-sm font-bold text-center text-orange-500 bg-white border border-orange-500 rounded-lg hover:text-orange-600 hover:border-orange-600 focus:outline-none focus:shadow-outline"
        >
          <archive-icon class="w-4 h-4 md:hidden" />
          <span class="hidden md:inline">History</span>
        </nuxt-link>

        <div v-click-outside="() => (cart = false)" class="relative">
          <microcart-button @click.native="cart = !cart" />

          <transition
            enter-active-class="transition duration-100 ease-out transform"
            enter-class="scale-95 opacity-0"
            enter-to-class="scale-100 opacity-100"
            leave-active-class="transition duration-75 ease-in transform"
            leave-class="scale-100 opacity-100"
            leave-to-class="scale-95 opacity-0"
          >
            <microcart
              v-show="cart"
              class="absolute right-0"
              @close="() => (cart = false)"
            />
          </transition>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { LoginIcon, ArchiveIcon } from '@vue-hero-icons/solid'
import vClickOutside from 'v-click-outside'
import { mapGetters } from 'vuex'

import auth from '~/mixins/auth'

export default {
  components: {
    LoginIcon,
    ArchiveIcon,
  },

  directives: {
    clickOutside: vClickOutside.directive,
  },

  mixins: [auth],

  data: () => ({
    currencies: ['EUR', 'USD'],
    cart: false,
  }),

  computed: {
    currentCurrency: {
      get() {
        return this.$store.getters['currency/selectedCurrency']
      },
      set(value) {
        this.$store.dispatch('currency/selectCurrency', value)
      },
    },
    ...mapGetters(['cart/totalQty']),
  },
}
</script>
