<template>
  <div class="container max-w-2xl mx-auto">
    <validation-observer
      v-slot="{ passed, handleSubmit }"
      ref="form"
      tag="div"
      class="w-full my-12 section"
    >
      <h1 class="my-12 text-4xl">Login</h1>

      <form @submit.prevent="handleSubmit(submit)">
        <validation-provider
          v-slot="v"
          rules="required|email"
          name="email"
          tag="div"
          class="w-full my-2"
        >
          <label
            for="email"
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          >
            Email
          </label>
          <input
            id="email"
            v-model="formData.email"
            placeholder="johndoe@example.com"
            name="email"
            type="email"
            autocomplete="email"
            :class="{ 'border-red-600': v.failed }"
            class="block w-full px-3 py-2 my-2 transition duration-150 border rounded-lg appearance-none bg-grey-lighter text-grey-darker focus:border-orange-500 focus:outline-none"
          />
          <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
            <p v-for="error in v.errors" :key="error">
              {{ error }}
            </p>
          </div>
        </validation-provider>

        <validation-provider
          v-slot="v"
          rules="required"
          name="password"
          tag="div"
          class="w-full my-2"
        >
          <label
            for="password"
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          >
            Password
          </label>
          <input
            id="password"
            v-model="formData.password"
            placeholder="Nobody knows"
            name="password"
            type="password"
            autocomplete="current-password"
            :class="{ 'border-red-600': v.failed }"
            class="block w-full px-3 py-2 my-2 transition duration-150 border rounded-lg appearance-none bg-grey-lighter text-grey-darker focus:border-orange-500 focus:outline-none"
          />
          <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
            <p v-for="error in v.errors" :key="error">
              {{ error }}
            </p>
          </div>
        </validation-provider>

        <div class="flex justify-between my-4">
          <label class="inline-flex items-center font-bold">
            <input
              v-model="formData.remember"
              type="checkbox"
              class="text-gray-600 form-checkbox"
            />
            <span class="ml-2 text-sm leading-snug text-gray-600">
              Remember me
            </span>
          </label>
          <div class="block font-bold text-orange-500">
            <button
              class="tracking-tighter text-black border-b-2 border-orange-200 cursor-pointer hover:border-orange-400"
              @click="alert('This app is for development purpose only :)')"
            >
              Forgot password?
            </button>
          </div>
        </div>

        <div class="flex flex-col justify-between md:flex-row-reverse">
          <button
            type="submit"
            :disabled="!passed"
            :class="{
              'cursor-not-allowed opacity-50': !passed,
            }"
            class="block w-full px-3 py-2 mb-2 text-sm font-bold text-center text-white bg-orange-500 rounded-lg md:ml-2 hover:bg-orange-600 focus:outline-none focus:shadow-outline"
          >
            Sign in
          </button>

          <nuxt-link
            :to="{ name: 'auth-register' }"
            class="block w-full px-3 py-2 mb-2 text-sm font-bold text-center border border-gray-600 rounded-lg md:mr-2 hover:border-orange-600 hover:text-orange-600 focus:outline-none focus:shadow-outline"
          >
            Create an account
          </nuxt-link>
        </div>
      </form>
    </validation-observer>
  </div>
</template>

<script>
import auth from '~/mixins/auth'

export default {
  mixins: [auth],

  middleware: ['auth'],
  auth: 'guest',

  data: () => ({
    formData: {
      email: '',
      password: '',
      remember: true,
    },
  }),

  methods: {
    submit() {
      this.login(this.formData, this.formData.remember).then(() => {
        this.$router.push({ name: 'history' })
      })
    },
  },

  head() {
    return {
      title: 'Login',
    }
  },
}
</script>
