<template>
  <div class="container max-w-2xl mx-auto">
    <validation-observer
      v-slot="{ passed, handleSubmit }"
      ref="form"
      tag="div"
      class="w-full my-12 section"
    >
      <h1 class="my-12 text-4xl">Register</h1>

      <form @submit.prevent="handleSubmit(submit)">
        <validation-provider
          v-slot="v"
          rules="required"
          name="name"
          tag="div"
          class="w-full my-2"
        >
          <label
            for="email"
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          >
            Your name
          </label>
          <input
            id="name"
            v-model="formData.name"
            placeholder="John Doe"
            name="name"
            type="text"
            autocomplete="name"
            :class="{ 'border-red-600': v.failed }"
            class="block w-full px-3 py-2 my-2 transition duration-150 border rounded-lg appearance-none bg-grey-lighter text-grey-darker focus:border-orange-500 focus:outline-none"
          />
          <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
            <p v-for="error in v.errors" :key="error">
              {{ error }}
            </p>
          </div>
        </validation-provider>

        <validation-provider
          v-slot="v"
          rules="required|email"
          name="email"
          tag="div"
          class="w-full my-2"
        >
          <label
            for="email"
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          >
            Email
          </label>
          <input
            id="email"
            v-model="formData.email"
            placeholder="johndoe@example.com"
            name="email"
            type="email"
            autocomplete="email"
            :class="{ 'border-red-600': v.failed }"
            class="block w-full px-3 py-2 my-2 transition duration-150 border rounded-lg appearance-none bg-grey-lighter text-grey-darker focus:border-orange-500 focus:outline-none"
          />
          <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
            <p v-for="error in v.errors" :key="error">
              {{ error }}
            </p>
          </div>
        </validation-provider>

        <validation-provider
          v-slot="v"
          rules="required"
          name="password"
          tag="div"
          class="w-full my-2"
        >
          <label
            for="password"
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          >
            Password
          </label>
          <input
            id="password"
            v-model="formData.password"
            placeholder="8+ symbols"
            name="password"
            type="password"
            autocomplete="new-password"
            :class="{ 'border-red-600': v.failed }"
            class="block w-full px-3 py-2 my-2 transition duration-150 border rounded-lg appearance-none bg-grey-lighter text-grey-darker focus:border-orange-500 focus:outline-none"
          />
          <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
            <p v-for="error in v.errors" :key="error">
              {{ error }}
            </p>
          </div>
        </validation-provider>

        <validation-provider
          v-slot="v"
          rules="required|password:@password"
          name="password_confirmation"
          tag="div"
          class="w-full my-2"
        >
          <label
            for="password_confirmation"
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
          >
            Password (again)
          </label>
          <input
            id="password_confirmation"
            v-model="formData.password_confirmation"
            placeholder="Helps prevent typos"
            name="password_confirmation"
            type="password"
            autocomplete="new-password"
            :class="{ 'border-red-600': v.failed }"
            class="block w-full px-3 py-2 my-2 transition duration-150 border rounded-lg appearance-none bg-grey-lighter text-grey-darker focus:border-orange-500 focus:outline-none"
          />
          <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
            <p v-for="error in v.errors" :key="error">
              {{ error }}
            </p>
          </div>
        </validation-provider>

        <validation-provider
          v-slot="v"
          rules="required: { allowFalse: false } }"
          name="policy"
          tag="div"
          class="w-full my-2"
        >
          <label class="flex items-center my-2 text-gray-500">
            <input
              v-model="formData.policy"
              class="top-0 leading-loose text-gray-600 form-checkbox"
              type="checkbox"
            />
            <span class="ml-2 text-sm text-left text-gray-600">
              I've read and agreed
              <a
                href="#"
                class="font-semibold text-black border-b-2 border-orange-200 hover:border-orange-500"
              >
                Privacy policy
              </a>
            </span>
          </label>
          <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
            <p v-for="error in v.errors" :key="error">
              {{ error }}
            </p>
          </div>
        </validation-provider>

        <div class="flex flex-col justify-between md:flex-row-reverse">
          <button
            type="submit"
            :disabled="!passed"
            :class="{
              'cursor-not-allowed opacity-50': !passed,
            }"
            class="block w-full px-3 py-2 mb-2 text-sm font-bold text-center text-white bg-orange-500 rounded-lg md:ml-2 hover:bg-orange-600 focus:outline-none focus:shadow-outline"
          >
            Sign up
          </button>

          <nuxt-link
            :to="{ name: 'auth' }"
            class="block w-full px-3 py-2 mb-2 text-sm font-bold text-center border border-gray-600 rounded-lg md:mr-2 hover:border-orange-600 hover:text-orange-600 focus:outline-none focus:shadow-outline"
          >
            I have an account
          </nuxt-link>
        </div>
      </form>
    </validation-observer>
  </div>
</template>

<script>
import auth from '~/mixins/auth'

export default {
  mixins: [auth],

  middleware: ['auth'],
  auth: 'guest',

  data: () => ({
    formData: {
      name: '',
      email: '',
      password: '',
      password_confirmation: '',
      policy: false,
    },
  }),

  methods: {
    submit() {
      this.register(this.formData)
        .then(() => {
          this.$router.push({ name: 'index' })
        })
        .catch((err) => {
          if (err.response && err.response.data)
            this.$refs.form.setErrors(err.response.data.errors)
        })
    },
  },

  head() {
    return {
      title: 'Registration',
    }
  },
}
</script>
