<template>
  <section class="flex flex-col items-end">
    <div class="text-xl font-semibold">
      <span>Subtotal:</span>
      <span class="text-right text-orange-500">
        {{ subtotal | money(selectedCurrency) }}
      </span>
    </div>

    <div class="text-sm font-semibold text-gray-600">
      <span>VAT:</span>
      <span class="text-right">
        {{ vat | money(selectedCurrency) }}
      </span>
    </div>

    <div class="text-sm font-semibold text-gray-600">
      <span>Delivery:</span>
      <span class="text-right">
        {{ delivery | money(selectedCurrency) }}
      </span>
    </div>

    <div class="my-2 text-2xl font-semibold">
      <span>Total:</span>
      <span class="text-right text-orange-500">
        {{ total | money(selectedCurrency) }}
      </span>
    </div>
  </section>
</template>

<script>
import cart from '~/mixins/cart'

export default {
  mixins: [cart],
}
</script>
