<template>
  <article>
    <main>
      <figure
        class="relative mb-2 duration-500 transform group-hover:translate-y-2"
      >
        <div class="aspect-ratio-square"></div>
        <img
          :src="pizza.image"
          class="absolute top-0 left-0 w-full h-full object-fit"
        />
      </figure>
      <h2 class="my-2 text-xl font-bold" v-text="pizza.title"></h2>
      <p class="my-2 text-sm text-gray-600" v-text="pizza.description" />
    </main>

    <footer class="flex flex-row justify-between mt-4 text-sm">
      <div class="py-2">From {{ minPrice | money(selectedCurrency) }}</div>
      <div class="w-1/2">
        <button
          class="w-full px-3 py-2 text-sm font-bold text-center text-orange-500 border border-orange-500 rounded-lg hover:text-orange-600 hover:border-orange-600 focus:outline-none focus:shadow-outline"
          @click="addToCart()"
        >
          Choose
        </button>
      </div>
    </footer>
  </article>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    pizza: {
      type: Object,
      required: true,
    },
  },

  data: () => ({
    qty: 1,
  }),

  computed: {
    price() {
      return this.pizza.prices[this.selectedCurrency].price
    },

    minPrice() {
      return this.pizza.prices[this.selectedCurrency].price
    },

    ...mapGetters('currency', ['selectedCurrency']),
  },

  methods: {
    addToCart() {
      this.$store.dispatch('cart/add', {
        item: this.pizza,
        qty: this.qty,
      })
    },
  },
}
</script>
