<template>
  <div class="container max-w-3xl mx-auto">
    <template v-if="!isEmpty">
      <section class="my-12">
        <h1 class="my-12 text-4xl">Cart</h1>

        <div class="divide-y divide-gray-200">
          <component
            :is="$breakpoints.lMd ? 'cart-item' : 'microcart-item'"
            v-for="(item, index) in items"
            :key="`cart-item-${index}`"
            :item="item"
          />
        </div>
      </section>

      <cart-totals class="my-2" />

      <section class="flex flex-col justify-between md:flex-row-reverse">
        <nuxt-link
          :to="{ name: 'checkout' }"
          class="block w-full px-3 py-2 my-2 text-sm font-bold text-center text-white bg-orange-500 rounded-lg md:ml-2 hover:bg-orange-600 focus:outline-none focus:shadow-outline"
        >
          Proceed
        </nuxt-link>

        <nuxt-link
          :to="{ name: 'index' }"
          class="block w-full px-3 py-2 my-2 text-sm font-bold text-center border border-gray-600 rounded-lg md:mr-2 hover:border-orange-600 hover:text-orange-600 focus:outline-none focus:shadow-outline"
        >
          Back to menu
        </nuxt-link>
      </section>
    </template>
    <section v-else class="flex flex-col items-center justify-center my-12">
      <span class="p-4 text-6xl text-center">🍕</span>
      <p class="py-2 font-semibold">Your cart is empty</p>
      <p class="py-2 text-sm">Choose some pizza, we will wait</p>

      <nuxt-link
        :to="{ name: 'index' }"
        class="px-3 py-2 my-2 text-sm font-bold text-center border border-gray-600 rounded-lg md:mr-2 hover:border-orange-600 hover:text-orange-600 focus:outline-none focus:shadow-outline"
      >
        Back to menu
      </nuxt-link>
    </section>
  </div>
</template>

<script>
import cart from '~/mixins/cart'

export default {
  components: {
    CartItem: () => import('~/components/common/cart/CartItem'),
    MicrocartItem: () => import('~/components/common/microcart/MicrocartItem'),
  },

  mixins: [cart],

  head() {
    return {
      title: 'Cart',
    }
  },
}
</script>
