<template>
  <div class="container max-w-3xl mx-auto">
    <validation-observer
      v-if="!isEmpty"
      v-slot="{ passed, handleSubmit }"
      ref="form"
      tag="div"
      class="w-full my-12 section"
    >
      <section class="my-12">
        <h1 class="my-12 text-4xl">Checkout</h1>

        <div class="divide-y divide-gray-200">
          <component
            :is="$breakpoints.lMd ? 'cart-item' : 'microcart-item'"
            v-for="(item, index) in items"
            :key="`cart-item-${index}`"
            :item="item"
            small
          />
        </div>
      </section>

      <section v-if="!$auth.loggedIn" class="my-12">
        <nuxt-link
          :to="{ name: 'auth' }"
          class="block w-full px-3 py-2 my-2 text-sm font-bold text-center text-white bg-orange-500 rounded-lg hover:bg-orange-600 focus:outline-none focus:shadow-outline"
        >
          Have an account? Log in!
        </nuxt-link>
      </section>

      <section class="my-12">
        <h2 class="my-6 text-2xl">Shipping address</h2>

        <div v-if="$auth.loggedIn" class="space-y-2">
          <div
            v-for="currentAddress in addresses"
            :key="`address-${currentAddress.id}`"
            class="w-full"
          >
            <label>
              <input
                v-model="address.id"
                type="radio"
                :value="currentAddress.id"
              />
              <span class="ml-2">
                {{ currentAddress.country }}, {{ currentAddress.region }},
                {{ currentAddress.city }}, {{ currentAddress.street_address }}
              </span>
            </label>
          </div>
          <div class="w-full">
            <label>
              <input v-model="address.id" type="radio" :value="null" />
              <span class="ml-2">New Address</span>
            </label>
          </div>
        </div>

        <div
          v-if="!address.id"
          class="grid gap-2 my-8 md:grid-cols-2 lg:grid-cols-3"
        >
          <app-input
            id="name"
            v-model="formData.name"
            label="Your name"
            name="name"
            placeholder="John Doe"
            required
            rules="required"
            autocomplete="name"
            class="lg:col-span-2"
          />

          <app-input
            id="email"
            v-model="formData.email"
            label="Email"
            name="email"
            placeholder="johndoe@example.com"
            required
            rules="required|email"
            autocomplete="email"
          />

          <app-input
            id="country"
            label="Country"
            name="country"
            required
            rules="required"
            class="md:col-span-2 lg:col-span-1"
          >
            <country-select
              v-model="address.country"
              top-country="US"
              autocomplete
            />
          </app-input>

          <app-input
            id="state"
            label="State"
            name="state"
            required
            rules="required"
          >
            <region-select
              v-model="address.region"
              :country="address.country"
              autocomplete
            />
          </app-input>

          <app-input
            id="city"
            v-model="address.city"
            label="City"
            name="city"
            placeholder="New York"
            required
            rules="required"
            autocomplete="address-level2"
          />

          <app-input
            id="street-address"
            label="Street address"
            name="street-address"
            required
            rules="required"
            class="md:col-span-2 lg:col-span-3"
          >
            <textarea v-model="address.street_address" />
          </app-input>

          <template v-if="!$auth.loggedIn">
            <div class="md:col-span-2 lg:col-span-3">
              <label class="flex items-center my-2 text-gray-500">
                <input
                  v-model="createAccount"
                  class="top-0 leading-loose text-gray-600 form-checkbox"
                  type="checkbox"
                />
                <span class="ml-2 text-sm text-left text-gray-600">
                  Create account
                </span>
              </label>
            </div>

            <template v-if="createAccount">
              <app-input
                id="password"
                v-model="formData.password"
                label="Password"
                name="password"
                placeholder="8+ symbols"
                type="password"
                required
                rules="required"
                autocomplete="new-password"
                class="lg:col-span-3"
              />

              <app-input
                id="password_confirmation"
                v-model="formData.password_confirmation"
                label="Password (again)"
                name="password_confirmation"
                placeholder="Helps prevent typos"
                type="password"
                required
                rules="required|password:@password"
                autocomplete="new-password"
                class="lg:col-span-3"
              />

              <validation-provider
                v-slot="v"
                rules="required: { allowFalse: false } }"
                name="policy"
                tag="div"
                class="md:col-span-2 lg:col-span-3"
              >
                <label class="flex items-center my-2 text-gray-500">
                  <input
                    v-model="formData.policy"
                    class="top-0 leading-loose text-gray-600 form-checkbox"
                    type="checkbox"
                  />
                  <span class="ml-2 text-sm text-left text-gray-600">
                    I've read and agreed
                    <a
                      href="#"
                      class="font-semibold text-black border-b-2 border-orange-200 hover:border-orange-500"
                    >
                      Privacy policy
                    </a>
                  </span>
                </label>
                <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
                  <p v-for="error in v.errors" :key="error">
                    {{ error }}
                  </p>
                </div>
              </validation-provider>
            </template>
          </template>
        </div>
      </section>

      <section class="my-12">
        <h2 class="my-6 text-2xl">Payment method</h2>

        <validation-provider
          v-slot="v"
          rules="required"
          name="paymentMethod"
          tag="div"
          class="w-full my-2"
        >
          <label>
            <input
              id="cashOnDelivery"
              v-model="paymentMethod"
              type="radio"
              value="CASH"
            />
            <span class="ml-2">Cash on Delivery</span>
          </label>
          <div v-if="v.errors" class="mt-3 text-xs italic text-red-600">
            <p v-for="error in v.errors" :key="error">
              {{ error }}
            </p>
          </div>
        </validation-provider>
      </section>

      <cart-totals class="my-2" />

      <section class="flex flex-col justify-between md:flex-row-reverse">
        <button
          :disabled="!passed"
          :class="{
            'cursor-not-allowed opacity-50': !passed,
          }"
          class="block w-full px-3 py-2 my-2 text-sm font-bold text-center text-white bg-orange-500 rounded-lg hover:bg-orange-600 focus:outline-none focus:shadow-outline"
          @click="handleSubmit(submit)"
        >
          Order pizza!
        </button>
      </section>
    </validation-observer>
    <section v-else class="flex flex-col items-center justify-center my-12">
      <span class="p-4 text-6xl text-center">🍕</span>
      <p class="py-2 font-semibold">Your cart is empty</p>
      <p class="py-2 text-sm">Choose some pizza, we will wait</p>

      <nuxt-link
        :to="{ name: 'index' }"
        class="px-3 py-2 my-2 text-sm font-bold text-center border border-gray-600 rounded-lg md:mr-2 hover:border-orange-600 hover:text-orange-600 focus:outline-none focus:shadow-outline"
      >
        Back to menu
      </nuxt-link>
    </section>
  </div>
</template>

<script>
import cart from '~/mixins/cart'
import auth from '~/mixins/auth'

export default {
  components: {
    CartItem: () => import('~/components/common/cart/CartItem'),
    MicrocartItem: () => import('~/components/common/microcart/MicrocartItem'),
  },

  mixins: [cart, auth],

  async fetch() {
    if (this.$auth.loggedIn) {
      await this.$store.dispatch('addresses/loadAll')
    }
  },

  data: () => ({
    createAccount: true,

    formData: {
      name: '',
      email: '',
      password: '',
      password_confirmation: '',
      policy: false,
    },

    address: {
      id: null,
      country: '',
      state: '',
      city: '',
      street_address: '',
    },
    paymentMethod: null,
  }),

  computed: {
    addresses() {
      return this.$store.getters['addresses/all']
    },

    cartData() {
      // eslint-disable-next-line prefer-const
      let { id, ...address } = this.address

      if (id) {
        address = {
          id,
        }
      }

      return {
        name: this.formData.name,
        email: this.formData.email,
        address,
        paymentMethod: this.paymentMethod,
        currency: this.selectedCurrency,
        items: this.items.map(({ item: { id }, qty }) => ({
          id,
          qty,
        })),
      }
    },
  },

  mounted() {
    this.tryAutoSignIn().then(() => {
      this.$fetch()
    })
  },

  methods: {
    async submit() {
      try {
        if (!this.$auth.loggedIn && this.createAccount) {
          await this.register(this.formData)
        }

        await this.$store.dispatch('orders/create', this.cartData)

        this.$store.dispatch('cart/clear')
        this.$router.push('history')
      } catch (err) {
        this.$refs.form.setErrors(err.response.data.errors)
      }
    },
  },

  head() {
    return {
      title: 'Checkout',
    }
  },
}
</script>
