<template>
  <div class="container max-w-3xl mx-auto">
    <section class="my-12">
      <div class="my-12">
        <h1 class="text-4xl">History</h1>
        <button class="text-orange-500" @click="logout()">Logout</button>
      </div>

      <div class="divide-y divide-gray-200">
        <article
          v-for="order in orders"
          :key="`order-${order.number}`"
          class="py-2 space-y-2"
        >
          <h2 class="text-lg">#<span v-text="order.number" /></h2>
          <ul>
            <li
              v-for="(item, index) in order.items"
              :key="`order-${order.number}-item-${index}`"
              class="flex flex-row space-x-1"
            >
              <span>{{ item.qty }}</span>
              <span class="font-mono">x</span>
              <span class="flex-grow">{{ item.item.title }}</span>
              <span>
                {{
                  (item.item.prices[order.currency].price * item.qty)
                    | money(order.currency)
                }}
              </span>
            </li>
          </ul>
          <div class="flex flex-row justify-between font-bold">
            <span>Total:</span>
            <span class="text-right">
              {{ order.total | money(order.currency) }}
            </span>
          </div>
        </article>
      </div>
    </section>
  </div>
</template>

<script>
import auth from '~/mixins/auth'

export default {
  mixins: [auth],

  middleware: ['auth'],

  async fetch() {
    await this.$store.dispatch('orders/loadAll')
  },

  computed: {
    orders() {
      return this.$store.getters['orders/all']
    },
  },

  head() {
    return {
      title: 'History',
    }
  },
}
</script>
