<template>
  <div class="container">
    <pizzas-placeholder v-if="$fetchState.pending" />
    <pizzas v-else :pizzas="pizzas" />
  </div>
</template>

<script>
export default {
  async fetch() {
    await this.$store.dispatch('pizzas/loadAll')
  },

  computed: {
    pizzas() {
      return this.$store.getters['pizzas/all']
    },
  },

  methods: {
    refresh(loaded) {
      this.$fetch()
        .then((result) => {
          loaded('done')
        })
        .catch((_err) => {
          loaded('fail')
        })
    },
  },

  head() {
    return {
      title: 'Pizza App',
      titleTemplate: '%s',
    }
  },
}
</script>

<style>
.vue-pull-to-wrapper > .scroll-container {
  overflow-y: unset !important;
}
</style>
